.footer-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px;

  border-bottom: 1px solid $blue-chalk;

  @media (min-width: $tablet-width) {
    grid-column: 1/ -1;

    padding: 0;

    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__logo {
    &-image {
      width: 82px;
      height: 36px;

      @media (min-width: $tablet-width) {
        width: 170px;
        height: 36px;
      }
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 10px;
    }
  }

  &__text {
    display: none;

    @media (min-width: $desktop-width) {
      font-size: 14px;
      line-height: 20px;

      display: block;

      margin-bottom: 50px;
    }
  }
}
