.page-footer {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px;

    padding: 40px 20px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;

    width: $desktop-width;
    padding: 40px;
    margin: 0 auto;
  }
}
