.pagination {
  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__link {
    @include text-medium;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    color: $blue-marguerite;
    border-radius: $border-radius;
    background-color: $white;

    @media (min-width: $tablet-width) {
      &--forward,
      &--back {
        width: auto;
        height: auto;
        padding: 8px 20px;
      }
    }

    &:hover,
    &:focus {
      color: $white;
      background-color: $portage;

      + .pagination__icon {
        fill: $white;
      }
    }

    &:active {
      color: $white;
      background-color: $royal-purple;

      + .pagination__icon {
        fill: $white;
      }
    }

    &:disabled {
      color: $white;
      background-color: $mercury;

      + .pagination__icon {
        fill: $white;
      }
    }

    &--current {
      font-weight: $font-weight-semibold;

      color: $mine-shaft;
      background-color: transparent;

      &:hover,
      &:focus,
      &:active {
        font-weight: $font-weight-semibold;

        color: $mine-shaft;
        background-color: transparent;
      }
    }
  }

  &__icon {
    rotate: 90deg;

    &--forward {
      rotate: -90deg;
    }

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &__text {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }
}
