.range {
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 223px;
  }

  @media (min-width: $desktop-width) {
    width: 318px;
  }

  &__controls {
    position: relative;

    height: 24px;
    padding-top: 10px;
    margin-bottom: 35px;

    @media (min-width: $tablet-width) {
      margin-bottom: 20px;
    }
  }

  &__scale {
    height: 2px;

    background-color: $mercury;
  }

  &__bar {
    width: 86%;
    height: 4px;

    background-color: $portage;

    &:disabled {
      background-color: $silver;
    }
  }

  &__toggle {
    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;
    padding: 0;

    cursor: pointer;

    border: 2px solid $white;
    border-radius: 50%;
    outline: 2px solid $portage;
    background-color: $white;

    &:hover,
    &:focus {
      outline: 2px solid $portage;
      background-color: $perfume;
    }

    &:active {
      outline: 2px solid $portage;
      background-color: $blue-marguerite;
    }

    &:disabled {
      outline: 2px solid $silver;
      background-color: $silver;
    }

    &--min {
      left: 0;
    }

    &--max {
      left: 241px;

      @media (min-width: $tablet-width) {
        left: 192px;
      }

      @media (min-width: $desktop-width) {
        left: 274px;
      }
    }
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-control {
      @include text-medium;

      font-family: $font-family;
      font-weight: $font-weight-medium;

      width: 118px;
      padding: 6px 8px;

      text-align: center;

      color: $mine-shaft;
      border: 2px solid $portage;
      border-radius: $border-radius;

      @media (min-width: $tablet-width) {
        width: 87px;
      }

      @media (min-width: $desktop-width) {
        width: 134px;
      }

      &:focus {
        border: 2px solid $royal-purple;
      }

      &:disabled {
        border: 2px solid $silver;
      }
    }
  }

  &__divider {
    display: block;

    width: 8px;
    height: 2px;

    background-color: $silver;
  }
}
