.site-list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-grow: 1;
  }

  &__item {
    border-top: 1px solid $blue-chalk;

    &:last-child {
      border-bottom: 1px solid $blue-chalk;
    }

    @media (min-width: $tablet-width) {
      border-top: none;

      &:last-child {
        border-bottom: none;
      }
    }

    @media (min-width: $desktop-width) {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }

    &--current {
      @media (min-width: $tablet-width) {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
          height: 2px;
          background: $blue-marguerite;
        }
      }
    }
  }

  &__link {
    @include text-small;

    font-weight: $font-weight-medium;

    display: block;

    padding: 22px;

    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: $mine-shaft;
    background-color: $white;

    &--current {
      color: $blue-marguerite;
    }

    @media (min-width: $tablet-width) {
      padding: 32px 20px;
    }
  }

  &__link:not(.site-list__link--current) {
    &:hover,
    &:focus {
      color: $blue-marguerite;
    }

    &:active {
      background-color: $blue-chalk;
    }
  }
}
