.social {
  display: flex;
  align-items: center;

  &__item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    border-radius: $border-radius;
    background-color: transparent;

    &:hover,
    &:focus {
      background-color: $blue-chalk;

      .social__link-icon {
        fill: $blue-marguerite;
      }
    }

    &:active {
      background-color: rgba($blue-marguerite, 0.25);
    }

    &-icon {
      fill: $silver;
    }
  }
}
