.swiper-slide {
  height: auto;

  &--merino {
    background-color: $merino;

    @media (min-width: $tablet-width) {
      background-image: linear-gradient(to bottom, $merino 73%,#fff 27%);
    }

    @media (min-width: $desktop-width) {
      background-image: none;
    }
  }

  &--selago {
    background-color: $selago;

    @media (min-width: $tablet-width) {
      background-image: linear-gradient(to bottom, $selago 73%,#fff 27%);
    }

    @media (min-width: $desktop-width) {
      background-image: none;
    }
  }

  &--iron {
    background-color: $iron;

    @media (min-width: $tablet-width) {
      background-image: linear-gradient(to bottom, $iron 73%,#fff 27%);
    }

    @media (min-width: $desktop-width) {
      background-image: none;
    }
  }
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 0;
  bottom: 0;

  width: 20px;
  height: 100%;
  margin: 0;

  cursor: pointer;

  @media (min-width: $tablet-width) {
    height: 73%;
    background-position: center;
  }

  @media (min-width: $desktop-width) {
    height: 100%;
  }

  &__icon {
    fill: $blue-marguerite;
    color:  $blue-marguerite;
  }

  &:disabled {
    background: transparent;

    &__icon {
      color: $silver;
    }
  }
}

.swiper-button-next {
  right: 0;

  &:hover, &:focus {
    outline: none;
    background-image: linear-gradient(-90deg, $white 0%, rgba($white, 0) 100%);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
  }

  &:active {
    background-image: linear-gradient(-90deg, rgba($blue-marguerite, 0.25) 0%, rgba($blue-marguerite, 0) 100%);
  }
}

.swiper-button-prev {
  left: 0;

  background-color: transparent;

  &:hover, &:focus {
    outline: none;
    background-image: linear-gradient(90deg, $white 0%, rgba($white, 0) 100%);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
  }

  &:active {
    background-image: linear-gradient(90deg, rgba($blue-marguerite, 0.25) 0%, rgba($blue-marguerite, 0) 100%);
  }
}

.swiper-horizontal>.swiper-pagination-bullets {
  bottom: 60px;
}

.swiper-pagination {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;

    height: 24px;
  }
}

.swiper-pagination-bullet {
  width: 62px;
  height: 4px;

  cursor: pointer;

  opacity: 1;
  border: 0;
  border-radius: 0;
  background-color: $white;

  &:not(:last-child) {
    margin-right: 8px;
  }

  &:hover {
    background-color: $blue-marguerite;
    opacity: 0.25;
  }
}

.swiper-pagination-bullet-active {
  background-color: $blue-marguerite;
}


