.user-list {
  position: absolute;
  top: 0;
  right: 60px;

  display: flex;

  &--nojs {
    right: 0;
  }

  @media (min-width: $tablet-width) {
    position: static;

    flex-wrap: wrap;

    margin-left: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 40px;
  }

  &__item {
    @media (min-width: $desktop-width) {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

  &__link {
    @include text-small;

    font-weight: $font-weight-medium;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 60px;
    height: 60px;

    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: $mine-shaft;
    background-color: $white;

    &:hover,
    &:focus {
      color: $blue-marguerite;
    }

    &:active {
      background-color: $blue-chalk;
    }

    &:hover .user-list__link-icon,
    &:focus .user-list__link-icon {
      fill: $blue-marguerite;
    }

    @media (min-width: $tablet-width) {
      width: auto;
      height: auto;

      padding: 32px 22px;
    }

    @media (min-width: $desktop-width) {
      padding: 32px 20px;
    }

    &-icon {
      fill: $mine-shaft;
    }
  }

  &__text {
    display: none;

    @media (min-width: $desktop-width) {
      display: flex;

      margin-left: 8px;
    }
  }
}
