* {
  box-sizing: border-box;

  -webkit-tap-highlight-color: transparent;

  &::before,
  &::after {
    box-sizing: border-box;
  }

  &:link {
    color: inherit;
  }
}

html,
body {
  display: flex;
  flex-direction: column;
}

body {
  flex-grow: 1;
}

html {
  font-family: $font-family;
  font-size: 100%;
  overflow-y: scroll;

  height: 100%;

  color: $mine-shaft;
  background-color: $white;
}

body {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;

  position: relative;

  min-height: 100%;
  min-width: $page-min-width;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  padding: 0;
  margin: 0;
  list-style: none;

  &:not([class]) {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

img,
svg {
  vertical-align: middle;
}

img {
  max-width: 100%;
  height: auto;

  &[width],
  &[height] {
    max-width: none;
  }
}

svg {
  overflow: hidden;
}

a,
button,
input,
textarea {
  &:focus {
    outline: 0;
  }
}

a {
  text-decoration: none;
}

input,
textarea,
button {
  padding: 0;

  color: inherit;
  border: 0;
  border-radius: 0;
  background: transparent;
}

fieldset {
  min-width: 0;
  margin: 0;
  padding: 0;

  border: 0;
}

legend {
  width: 100%;
  margin: 0;
  padding: 0;

  white-space: normal;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
