/**
 * Colors
 * Название переменной конкретного цвета генерируется на http://chir.ag/projects/name-that-color/
 */
$white: #FFFFFF;
$mine-shaft: #333333;
$blue-marguerite: #7859CF;
$blue-chalk: #F0EBFF;
$merino: #F3EBE1;
$portage: #9070EC;
$royal-purple: #593CAC;
$silver: #BDBDBD;
$selago: #EAE6FC;
$iron: #E5E6E8;

// $iron: #E5E6E8;
// $blue-charcoal: #010E23;
// $pickled-bluewood: #233047;
// $denim: #1454B9;
// $mariner: #2D6ACA;
// $blue-bayoux: #4E5D75;
// $mercury: #E5E5E5;
// $concrete: #F2F2F2;
// $wild-blue-yonder: #6680AE;
// $chambray: #415F93;
// $viking: #65B8DF;
// $picton-blue: #3BA7E4;
// $dodger-blue: #29A2FB;
// $dodger-blue-medium: #4C9AFF;
// $dodger-blue-dark: #1E78FF;
// $jordy-blue: #83CFF2;
// $spindle: #B5DAEC;
// $pattens-blue: #D4E4FF;
// $black-squeeze: #F9FBFD;
// $black-squeeze2: #E1EFF4;
// $pastel-green: #65DF8E;
// $keppel: #3AB799;
// $mountain-meadow: #19C06F;
// $java: #19B6C0;
// $emerald: #5AD784;
// $mantis: #60BC51;
// $bermuda: #75D5B8;
// $deep-cerulean: #007DB5;
// $lily-white: #EEFAFF;
// $half-baked: #84B7CF;
// $solitude: #E2EFFF;
// $gull-gray: #97AEB9;
// $danube: #5584CF;
// $alabaster: #FAFAFA;
// // $chambray: #385382;
// $powder-blue: #AFD2E1;
// $indigo: #3769C0;
// $athens-gray: #E9EBF0;
// $submarine: #B3C2C2;
// $botticelli: #D4DDEB;
// $regent-gray: #8993A3;
// $santas-gray: #959DAC;
// $bombay: #B4B6BA;
// $link-water: #DEE8F7;
// $link-water-light: #F2F6FB;
// $hawkes-blue: #DCEAFC;
// $wild-sand: #F5F5F5;
// $blue-chalk: #F3E7FF;
// $burnt-sienna: #E8554B;
// $cerise-red: #DC2C53;
// $deep-blush: #DE68A2;
// $outrageous-orange : #FF5630;
// $gamboge: #EE950A;
// $porsche: #EAB86D;
// $tussock: #CA9950;
// $vivid-violet: #A949AB;
// $heliotrope: #B061F2;
// $biloba-flower: #B689F0;
// $cornflower-blue: #7D72FF;
// $flamingo: #F15642;
// $tree-poppy: #FFA51E;
// $mantis: #84BD5A;

// // redesign
// $set-blue: #2196CD;
// $dark-pink: #DF286A;
// $burnt-sienna-light: #F0785C;
// $white: #FFFFFF;
// $catskill-white: #F3F5F9;
// $light-blue: #F0F9FE;
// $cadet-blue: #AFB6C1;
// $gray: #F4F4F5;
// $blue: #DDE7F6;
// $french-pass: #CDE0FE;
// $feta: #E6FCE3;
// $pale-rose: #FFD7EB;
// $hawkes-blue: #D3EFFD;
// $shakespeare: #46ACDC;
// $iceberg: #E8F3F8;
// $link-water-dark: #E5ECF8;
// $link-water-medium: #EAF0FA;
// $link-water-extra-light: #F7F9FD;
// $titan-white: #ECEEFF;
// $melrose: #939EFF;
// $shamrock: #50E19B;
// $magic-mint: #90ECBF;
// $mountain-meadow-light: #19CE77;
// $ocean-green: #36B37E;
// $granny-smith-apple: #A1EA97;
// $aquamarine: #99FFCD;
// $tea-green: #DBF3CA;
// $geraldine: #FAA28F;
// $melon: #FFC2B4;
// $pippin: #FFDEDE;
// $peach-schnapps: #FFDED7;
// $navajo-white: #FFE0AD;
// $egg-sour: #FFF2DD;
// $portage: #87AAE8;
// $ship-cove: #768EB7;
// $perano: #B7CCF1;
// $pattens-blue-light: #DDF4FF;
// $moss-green: #AFDDA8;
// $zircon: #F6F9FF;
// $catskill-white-dark: #DEE9F1;
// $pigeon-post: #A3C3DA;
// $ship-cove: #768EB7;
// $cerulean: #00BEF0;
// $cerulean-dark: #00B8D9;
// $harvest-gold: #E3B973;
// $amber: #FFC400;
// $reef: #B8FEBB;
// $anakiwa: #9AD9FC;
// $malibu: #79C9F5;
// $old-lace: #FDF1DF;
// $red: #FA0F00;
// $havelock-blue: #7099E1;
// $alto: #D8D8D8;
// $indochine: #D07F00;
// $froly: #F57979;
// $spindle-dark: #C1D4EF;


// $accent-color-primary: $wild-blue-yonder;
// $accent-color-primary-auxiliary: $set-blue;
// $accent-color-secondary: $dark-pink;

// $background-color-primary: $white;
// $background-color-primary-auxiliary: $catskill-white;
// $background-color-secondary: $light-blue;
// $background-color-page: $background-color-primary-auxiliary;

// $text-color-primary: $blue-zodiac;
// $text-color-secondary: $cadet-blue;
// $text-color-disabled: $text-color-secondary;
// $text-color-inverse: $white;

// $hover-color: $light-blue;

/**
 * Viewports
 */
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;

/**
 * Fonts
 */
$font-family-default:
'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
$font-family-custom: 'Montserrat';
$font-family: $font-family-custom, $font-family-default;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// //<--- deprecated
// $font-size-giant: rem(26px);
// $font-size-huge: rem(20px);
// $font-size-large: rem(18px);
// $font-size-big: rem(16px);
// $font-size-medium: rem(14px);
// $font-size-small: rem(12px);
// $font-size-tiny: rem(10px);
// $font-size-extra-tiny: rem(8px);

// $line-height-giant: line-height(rem(35px), $font-size-giant);
// $line-height-huge: line-height(rem(27px), $font-size-huge);
// $line-height-large: line-height(rem(25px), $font-size-large);
// $line-height-big: line-height(rem(22px), $font-size-big);
// $line-height-medium: line-height(rem(19px), $font-size-medium);
// $line-height-small: line-height(rem(16px), $font-size-small);
// $line-height-tiny: line-height(rem(14px), $font-size-tiny);
// $line-height-extra-tiny: line-height(rem(11px), $font-size-extra-tiny);
// //deprecated --->

// $font-size-h0: rem(28);
// $font-size-h1: rem(22);
// $font-size-h2: rem(18);
// $font-size-h3: rem(14);
// $font-size-p1: rem(14);
// $font-size-p2: rem(14);
// $font-size-p3: rem(12);
// $font-size-p4: rem(10);
// $font-size-sm: rem(8);

// $line-height-h0: line-height(rem(38), $font-size-h0);
// $line-height-h1: line-height(rem(30), $font-size-h1);
// $line-height-h2: line-height(rem(25), $font-size-h2);
// $line-height-h3: line-height(rem(19), $font-size-h3);
// $line-height-p1: line-height(rem(20), $font-size-p1);
// $line-height-p2: line-height(rem(16), $font-size-p2);
// $line-height-p3: line-height(rem(16), $font-size-p3);
// $line-height-p4: line-height(rem(14), $font-size-p4);
// $line-height-sm: line-height(rem(11), $font-size-sm);

/**
 * Spacing
 */
 $spacing-immense: 60px;
// $spacing-immense: rem(48px);
$spacing-giant: 32px;
// $spacing-huge: rem(24px);
$spacing-extra-large: 20px;
// $spacing-large: rem(16px);
// $spacing-big: rem(12px);
$spacing-extra-medium: 10px;
$spacing-medium: 8px;
// $spacing-small: rem(6px);
$spacing-tiny: 4px;
// $spacing-extra-tiny: rem(2px);

// $layout-gap: $spacing-extra-large;

/**
 * Layout
 */
$page-min-width: 320px;

// $header-height: var(--header-height);
// $header-editor-height: rem(52px);
// $header-divider-height: rem(24px);


/**
 * Z-index
 */
// $z-index-select: 1050;
// $z-index-tooltip: 1001;
// $z-index-snackbar: 1001;
// $z-index-popup: 1000;
// $z-index-article-search-popup: 998;
// $z-index-overlay: 999;
// $z-index-header: 999;
// $z-index-dropdown: 500;
// $z-index-uploader: 499;
// $z-index-resizer: 498;
// $z-index-push-notifications: 200;
// $z-index-scroll-top: 100;
// $z-index-header-dropdown: 10;

/**
 * Transitions and Animations
 */
// $transition-duration-very-fast: 100ms;
// $transition-duration-fast: 200ms;
// $transition-duration-normal: 300ms;
// $transition-duration-slow: 400ms;
// $transition-duration-very-slow: 500ms;

// $transition-duration-hover: $transition-duration-very-fast;
// $transition-function-hover: ease-in-out;

/**
 * Miscellaneous
 */
// $border-radius-giant: rem(16px);
// $border-radius-huge: rem(12px);
// $border-radius-big: rem(8px);
// $border-radius-medium: rem(6px);
$border-radius: 4px;
// $border-radius-small: rem(2px);

// $box-shadow: 0 rem(4px) rem(16px) rgba(0, 0, 0, 0.06);
// $box-shadow-header: 0 rem(3px) rem(10px) rgba(0, 0, 0, 0.05);
// $box-shadow-popup: 0 rem(12px) rem(40px) rgba(0, 0, 0, 0.08),
//   0 rem(3px) rem(8px) rgba(40, 40, 40, 0.03);
// $box-shadow-popup-secondary: 0 rem(12px) rem(40px) rgba(0, 0, 0, 0.03),
//   0 rem(3px) rem(8px) rgba(40, 40, 40, 0.03),
//   0 rem(12px) rem(40px) rgba(0, 0, 0, 0.03),
//   0 rem(3px) rem(8px) rgba(40, 40, 40, 0.03);
// $box-shadow-segment: 0 rem(-3px) rem(15px) rgba(0, 0, 0, 0.06),
//   0 rem(7px) rem(22px) rgba(0, 0, 0, 0.1);
// $box-shadow-feedback: 0 rem(2px) rem(20px) rgba(0, 0, 0, 0.15);
// $box-shadow-drag-fallback: 0 rem(12px) rem(40px) rgba(0, 0, 0, 0.08),
//   0 rem(3px) rem(8px) rgba(40, 40, 40, 0.03);
// $box-shadow-switcher: 0 rem(5px) rem(5px) rgba(0, 0, 0, 0.25);
// $box-shadow-chat: 0 rem(2px) rem(16px) rgba(0, 0, 0, 0.1);
// $box-shadow-palette-item: 0 rem(4px) rem(4px) rgba(0, 0, 0, 0.19);
// $box-shadow-select: 0 rem(8px) rem(8px) rgba(19, 39, 71, 0.08);
// $box-shadow-graph-tooltip: 0 rem(12px) rem(40px) rgba(0, 0, 0, 0.03),
//   0 rem(3px) rem(8px) rgba(40, 40, 40, 0.03);
